@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
* {
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h3, h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
}

h3, h5 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 20px;
}

h5 {
    margin: 25px 0 10px;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.35;
}

.container {
    width: 1080px;
    height: 100%;
    margin: 1% auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.container::after {
    content: "";
    background: #e3e3e3 url("../img/bkg-one.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.main-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.div-left, .div-right {
    width: 50%;
    min-height: 100%;
}

.div-left {
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
    clip-path: inset(0px -8px 0 0);
    padding: 2.5% 2.5% 0 2.5%;
}

.div-right {
    display: flex;
    align-items: center;
}

.lead {
    margin: 15px 0;
}

.div-right img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 90%;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"]  {
    display: block;
    width: 80%;
    padding: 10px 15px;
    font-size: 1.05rem;
}

.radio-top, .radio-bottom {
    display: inline-block;
}

input[type="radio"] {
    width: 25px;
}

.radio-top {
    margin-bottom: 8px;
}

.unit-lbl {
    width: 65px;
    display: inline-block;
}

.unit-line {
    display: inline-block;
    width: 3px;
    background: darkgray;
}

small {
    font-size: 0.75rem;
    padding-left: 5px;
}

.imperial-wrapper, .metric-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.units-imperial, .units-metric {
    width: 110px;
    padding: 10px 15px;
    font-size: 1.05rem;
    margin-right: 10px;
}

.units-imperial:last-child, .units-metric:last-child {
    margin-right: 0;
}

.unit-line-alt {
    display: inline-block;
    width: 3px;
    height: 35px;
    background: darkgray;
    margin-left: 15px;
    margin-right: 15px;
}

.units-metric {
    width: 145px;
}

.metric-wrapper {
    display: none;
}

.diet-selection {
    width: 80%;
    padding: 10px 20px;
    font-size: 1.05rem;
}

select{
    max-height: calc(1.75em + 1.05rem);
    height: calc(1.75em + 1.05rem);
}

#submit-btn {
    width: 150px;
    margin-top: 25px;
    margin-bottom: 35px;
    background: #b11b1b;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 20px 10px;
    border: 0;
}

/* Modal */

.modal {
    display: none;
    width: 325px;
    background: rgba(0,0,0,0.65);
    position: absolute;
    z-index: 500;
    padding: 20px;
    border: 2px solid #fff;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
}

.alert-icon {
    fill: #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message h3 {
    margin: 0;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.30;
}

.message p {
    color: #fff;
    margin-top: 10px;
    font-size: 0.85rem;
    line-height: 1.30;
}

.message button {
    background: #fff;
    width: 150px;
    padding: 5px 10px;
    font-size: 1.05rem;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    transition: 0.65s;
}

.message button:hover {
    opacity: 0.65;
}